@import url('https://fonts.googleapis.com/css?family=Varela+Round&display=swap');

@import '~vuetify/src/stylus/theme.styl'

$material-dark.background = #6F706F

@import '~vuetify/src/stylus/main.styl'

.application
	font-family 'Varela Round', Arial, sans-serif